extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Jingle Wallet
    div.Message
      div.Title
        h3 The best
        h1 Zilliqa ZRC2 token wallet
      span.Details Zilliqa wallet supporting ZRC2 token
    div.NavButtons
      a(href="/user")
          div.NavButton Show the money