extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Jingle Wallet - Wallet
    div.Message
      div.Title
        h3 #{key}
        h1 Zilliqa ZRC2 token wallet
      span.Details Zilliqa wallet supporting ZRC2 token
    div.NavButtons
      a(href="/wallet")
          div.NavButton Show the money